/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Título principal */
h1 {
    background-color: #003cff;
    color: white;
    padding: 20px;
    margin: 0;
}

/* Conteúdo central */
form, p, a {
    margin-top: 20px;
}

/* Form */
form {
    background-color: white;
    width: 320px;
    padding: 25px;
    border-radius: 5px;

    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Inputs */
input, button {
    width: 100%;
    box-sizing: border-box;
}


/* Botão */
button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #003cff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Efeito simples no botão */
button:hover {
    background-color: #003cff;
}

/* Link */
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #003cff;
    font-weight: bold;
}
