{% extends "base.html" %}
{% block content %}
<div class="form-card">
    <form method="POST">
        <input type="text" name="titulo-tarefa" 
        id="titulo-tarefa" placeholder="Título da tarefa"
        required>
        <input type="date" name="data-conclusao" 
        id="data-conclusao">
        <button type="submit">Adicionar Tarefa</button>
    </form>
</div>
<h2>Lista de Tarefas</h2>
<div class="tarefa-card">
{% if tarefas %}

    <ul>
        {%for tarefa in tarefas%}
            <li>{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }}</li>
        {% endfor %}
    </ul>

{% else %}

    <p>Nem uma tarefa cadastrada</p>

{% endif %}
        <div class="botoes">
            <button class="button-excluir">Excluir</button>
            <button class="button-concluir">Concluido</button>
        </div>
</div>
{% endblock %}



<!--Métodos HTTP
GET -> "pega" (recupera) informações do servidor (READ)
POST -> "envia" (cadastra) informações para o servidor(CREATE)
UPDATE/PATCH -> "atualiza" informações no servidor (UPDATE)
DELETE -> "deleta" informações no servidor (DELETE)

CRUD -> CREATE, READ, UPDATE, DELETE
-->

<!--
 2XX -> Sucesso
 3XX -> Sucesso, mas redirecionamento
 4XX -> Não encontrado (Falha na REQUISIÇÃO)
 5XX -> Erro no servidor(Falha na RESPOSTA)
 --> 